/* styles.css */
@import url('base.css');

h1,
h2,
h3 {
  font-family: 'Poppins', 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Inter', sans-serif;
  line-height: 1.4;
  background-color: #cba851;
  background-image: url("../img/png/Element_claro.svg");
  background-size: 180% auto;
  color: #0b2326;
}

p {
  margin: 35px;
}

h1 {
  margin: 50px;
  font-size: 40px;
  align-items: center;
}

.sobre p {
  text-align: justify;
}


.missaovisaovalores p {
  text-align: justify;
}

.missaovisaovalores h3 {
  text-align: center;
  font-size: 35px;
}


.espaco {
  height: 100px;
}

.destaque {
  font-weight: bold;
  color: #0B2326;
}

.alexandre p {
  text-align: justify;
}

.alexandre h2 {
  text-align: center;
  font-size: 35px;
}

.sobrealexandreconteudo {
  display: flex;
  align-items: flex-start;
  gap: 1.0rem;
  /* espaçamento entre img e texto */
}

.sobrealexandre {
  flex: 1;
}


.valores,
.demandas,
.pilares {
  list-style: none;
  text-align: center;
  margin: 30px;
  margin-right: 45px;
  /* pequeno espaçamento interno */
  text-align: center;
  /* centraliza o texto/itens internos */
  box-sizing: border-box;
  font-weight: bold;
}

.valores li,
.demandas li,
.pilares li {
  margin: 25px;
}


li::before {
  margin: 25px;
  position: absolute;
  align-content: center;
  font-size: 22px;
}


/*--------------------------------------
  MEDIA QUERIES
--------------------------------------*/
/* Tablet e acima */
@media (min-width: 600px) {}

/* Desktop e acima */
@media (min-width: 1024px) {

  .sobrealexandreconteudo {
    display: flex;
    align-items: flex-start;
    /* ou center, se quiser verticalmente centralizado */
    gap: 1.2rem;
  }

  h1 {
    margin-left: 180px;
    margin-top: 155px;
    font-size: 40px;
    align-items: center;
  }

  p {
    margin-left: 105px;
    margin-right: 105px;
  }
}